
.section3-container{
    background-color: #1B1B1C;
    height: 100vh;
    width: 100%;
    position: relative;
}

.section3{
    width: 80%;
    margin: auto;
    color: white;
}

.s3header-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1{
        margin-top: 11rem;
        font-size: 4.5rem;
        max-width: 77rem;
        text-align: center;
    }
    button{
        margin-top: 3.7rem;
        width: 26.7rem;
        height: 6.7rem;
        border-radius: 1rem;
        outline: none;
        border: none;
        font-size: 3rem;
        background-color: #5F8BCC;
        color: white;
    }
}

.hr-container{
    margin-top: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    hr{
        border: 1px solid rgba(255, 255, 255, 0.3);
        width: 1241px;
        height: 0px;
        border-radius:20%;
    }
}

.pre-footer{
    max-width: 1241px;
    margin: auto;
}

.nav-container{
    max-width: 100%;
    min-width: 0;
    margin-top: 4.5rem;
    font-family: 'Helvetica Now Display';

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    h3{
        font-size: 3.1rem;
        font-style: normal;
    }
    

    .services-names{
        flex: 1;
        margin-top: 3.5rem;
        font-family: 'Helvetica Now Display';
        h4{
            font-weight: 400;
            font-size: 2.8rem;
        }

        hr{
            height: 1px;
            border: none;
            background: linear-gradient(to right, #FF0B0B, #00D1FF);
            opacity: .35;
        }


        .sh1{width: 21.5rem; margin: .7rem 0 1rem 0;} 
        .sh2{width: 23rem; margin: .7rem 0 1rem 0;} 
        .sh3{width: 23.5rem; margin: .7rem 0 1rem 0;} 
        .sh4{width: 27rem; margin: .7rem 0 0 0;} 
        
    }

    .office{
        flex: 1;
        font-family: 'Helvetica Now Display';

        .office-name{
        margin-top: 3.5rem;

        h4,h3{
            font-weight: 400;
            font-size: 2.8rem;
            margin-bottom: .5rem;
        }

        h5{
            font-weight: 300;
            font-size: 2.8rem;
            color: #344B76;
        }

        hr{
            width: 9.3rem;
            height: 1px;
            border: none;
            background: linear-gradient(to right, #FF0B0B, #00D1FF);
            opacity: .35;
            margin: .7rem 0 1rem 0;
        }
        
        }
    }

    .contact-us{
        flex: 1;
        .contact-names{
        margin-top: 3.5rem;
        }
        h4,a{
            font-weight: 400;
            font-size: 2.4rem;
        }

        a{
            color: white;
            text-decoration: none;
        }

        hr{
            height: 1px;
            border: none;
            background: linear-gradient(to right, #FF0B0B, #00D1FF);
            opacity: .35;
            margin: .7rem 0 1rem 0;
        }

        .ch1{
            width: 23rem;
        }
        .ch2{
            width: 19rem;
            margin: .7rem 0 0 0;
        }
    }

    .follow-us{
        position: relative;
        flex: 1;
        .icons{
            margin-top: 3.5rem;
            width: 20rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: -1rem;
        }

        h4{
            font-weight: 500;
            font-size: 2.8rem;
            margin-top: 3rem;
        }

        hr{
            height: 1px;
            border: none;
            background: linear-gradient(to right, #FF0B0B, #00D1FF);
            opacity: .35;
            margin: .7rem 0 1rem 0;
            width: 24rem;
        }
        
        input{
            font-size: 1.5rem;
            width: 24rem;
            height: 4rem;
            padding: 1rem;
            outline: none;
            border: none;
            border-radius: .5rem;
            margin-top: 2rem;
            margin-bottom: 1rem;
        }

        button{
            width: 24rem;
            height: 4rem;
            font-size: 1.5rem;
            background-color: #5F8BCC;
            color: white;
            outline: none;
            border: none;
            border-radius: .5rem;
        }
    }
}

    
