.section1{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
}

.home-page-div{
    width: 80%;
    height: 100%;
    margin: auto;
    font-family: 'montserrat', sans-serif;
    
}

#blueParrot{
    width: 400px;
    height: 1024px;
    position: absolute;
    right: 0px;
    top: 0px;
    user-select: none;
    object-fit: cover;
    object-position:100%;
}

#blue-parrot-h1{
    margin-top: 14rem;
    font-weight: normal;
    font-size: normal;
    font-size: 6.2rem;
    span{
        font-size: 6.2rem;
        color: #5F8BCC;
    }
}

#creative-inovative-reliable{
    font-size: 5.8rem;
    margin-top: 11rem;
}

#s1Description{
    font-size: 3.2rem;
    margin-top: 4.2rem;
    width: 56rem;
}

#free-consultation{
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    margin-top: 11.5rem;
    display: flex;
    align-items: center;

    img{
        margin-left: 2rem;
    }
}

